body {
    background-color: antiquewhite;
}

h1 {
    color: #151712;
    font-family: "garamond";
}

h2 {
    color: #151712;
    font-family: "garamond";
}

h3 {
    color: #151712;
    font-family: "garamond";
}

p {
    color: #3C1518;
    font-family: "helvetica";
}

ul {
    color: #3C1518;
    font-family: "helvetica";
}
